body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1.6;
    font-family: 'Lato', sans-serif;
    color: #555;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

