.intro-box {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url('../images/contacts-bg.jpeg');
    background-size: cover;
    background-attachment: fixed;
    height: 70vh;
    position: relative;

    &__heading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color:  #EB7F00;
        font-size: 3.5rem;
        text-transform: uppercase;
        margin: 0;
    }

    &__heading_small {
        font-size: 2.5rem;
    }

    &__heading_dark {
        color: #555;
    }
}


.contacts-heading {
    text-align: center;
    color: white;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0;
    padding: 30px 0 0 0;
    color: #555;
    font-weight: 300;
    word-spacing: 2px;
    margin-bottom: 30px;
}

.list-container {

    font-size: 1rem;

    &__heading {
        font-size: 1.1rem;
        color:  #EB7F00;
        margin: 5px 0;

        @mixin atSmall {
            font-size: 1.3rem;
            margin: 10px 0;
        }
    }
}