/* FEATURES */

.features-section {
    display: block;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    background: rgb(250, 250, 250);

    &__subheading {
        font-size: 1.2rem;
        font-weight: 300;
    }
}

.feature-container {
    @mixin atMedium {
        display: flex;
        justify-content: space-evenly;
    }
    
}

.feature {
    text-align: center;
    padding: 1% 0;

    @mixin atSmall {
        padding: 5% 4%;
    }

    &__heading {
        color: black;
        text-transform: uppercase;
        font-size: 180%;
        font-weight: 300;
    }

    &__description {
        line-height: 145%;
        word-spacing: 2px;
        font-size: 1.2rem;
        color: black;
    }

    &__icon {
        font-size: 3rem;
        color: #EB7F00;
        font-weight: 100;
    }

    &_less-padding {
        padding: 0 0 6% 0;
    }

}   


.section-heading {
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 5px;
    font-weight: 300;
    text-align: center;

    font-size: 2rem;
    @mixin atSmall {
        margin: 0;
        padding: 50px 0;
        font-size: 3.5rem;
        
    }
   
}

.section-heading::after {
    display: block;
    content: '';
    background: #EB7F00;
    height: 2px;
    width: 300px;
    margin: 20px auto 0 auto;
}