
.footer {
    background-color: #333;
    padding: 10px;
    @mixin atSmall {
        padding: 20px;
    }

    @mixin atMedium {
        padding: 30px;
    }

    @mixin atLarge {
        padding: 40px;
    }

    &__info{
        color: #888;
        text-align: center;
        margin-top: 20px;
    }
     
}

.footer-nav {
    @mixin atLarge {
        display: flex;
    }
    justify-content: space-between;
}

.footer-list {
    display: block;
    flex-basis: 40%;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;

    &_small {
        flex-basis: 30%;
        width: 50%;
        margin: 0 auto;
        justify-content: space-around;

        @mixin atLarge {
            justify-content: space-between;
            width: 100%;
            margin: 15px 0;
        }
    }

    &_wide {
        flex: 1;
    }

    &_vertical {
        display: initial;
    }

    &_more-padding-top {
        padding-top: 10px;
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        border: 0;
        color: #888;
        transition: color 0.4s;
        font-size: 1rem;
        font-weight: 300;

        @mixin atSmall {
            font-size: 1.2rem;
        }
    }

    &__link:hover,
    &__link:active {
        color: #ddd;
    }

    &__link_icon {
         font-size: 2rem; 
    }

    &__link_google:hover {
        color: #dd4b39;
    }

    &__link_inst:hover {
        color: #517fa4;
    }

    &__link_fb:hover {
        color: #3b5998;
    }

    &__link_twitter:hover {
        color: #00aced;
    }
}