.gallery-section {
    text-align: center;
    padding-bottom: 75px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: repeat(8, 300px);
    grid-gap: 5px;
    margin: 0 auto;
    justify-content: center;

    @mixin at2 {
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(4, 300px);
        grid-gap: 10px;
    }

    @mixin at3 {
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(3, 300px);
        grid-gap: 20px;
    }

    @mixin at4 {
        grid-template-columns: repeat(4, 300px);
        grid-template-rows: repeat(2, 300px);
        grid-gap: 30px;
    }
}

.gallery__image {
    width: 100%;
    height: 100%;
    transition: all 1s;

    opacity: 0.7;
    @mixin at2 {
        opacity: 1;
    }
}

.image-container {
    position: relative;
    transition: all .5s;
   
    @mixin at2 {
        position: initial;
    }
    
    &_hidden {
        display: none;

        @mixin at3 {
            display: initial;
        }

        @mixin at4 {
            display: none;
        }
    }


}

.image-container:hover {
    
    position: relative;

    @mixin at2{
        transform: scale(1.05);
    }

    @mixin at3{
        transform: scale(1.1);
    }

    @mixin at4{
        transform: scale(1.2);
    }
}

.image-container:hover > .gallery__image {
    opacity: .5;
}


.image-container:hover > .image-container__text {
    opacity: 1;
    background: rgba(255, 255, 255, 0.849);
}

.image-container__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s ease-in-out;
    color: black;
    font-size: 1.1rem;    
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.849);
    
    @mixin at2 {
       background: none;
       opacity: 0;
    }
}
