.header {
  position: relative;
  background: linear-gradient(rgb(231, 130, 136), rgb(243, 198, 103));
}

.hero-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  width: 100%;

  &__heading {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    width: 80%;
    margin: 0 auto 25px auto;
    @mixin atSmall {
      font-size: 3rem;
      width: 100%;
      margin: 0 auto 50px auto;
    }
    @mixin atMedium {
      font-size: 4rem;
    }
    @mixin atLarge {
      font-size: 4.5rem;
    }
  }
}

.btn-container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-evenly;
  font-size: .8rem;

  @mixin atSmall {
    width: 90%;
    font-size: .9rem;
  }

  @mixin atMedium {
    width: 60%;
    font-size: 1rem;
  }

  @mixin atLarge {
    width: 50%;
  }
}

