/* TOP NAVIGATION */

.main-nav {
}

.main-list {
    position: relative;
    margin: 0;
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-between;
    &__logo {
        max-width: 45px;
        margin-top: 10px;
    }
    &__button {
        position: relative;
        display: inline-block;
        background: rgba(238, 238, 238, 0.445);
        flex: 1;
        padding-top: 20px;
        text-align: center;
        font-size: 1rem;
        font-weight: 300;
        transition: all .5s;
        z-index: 999;
        border-right: 1px solid rgb(213, 213, 213);
    }
    &__button:nth-child(1) {
        padding-top: 0;
    }
    &__button:last-child {
        border-right: none;
    }
    &__button:hover {
        background: rgb(201, 201, 201);
    }
    &__button:hover &__button_inside {
        display: block;
        box-shadow: 1px 1px 1px rgb(201, 201, 201), -1px 1px 1px rgb(201, 201, 201);
    }
    &__button_inside {
        display: none;
        border-right: 1px solid transparent;
        border-left: 1px solid transparent;
        padding: 10px 0 !important;
    }
    &__button_inside:hover {
        background: rgb(175, 175, 175);
    }
    &__button_inside:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    &__button_logo:hover {
        background: rgb(238, 238, 238);
    }
    &__link {
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        display: inline-block;
        width: 100%;
    }

    /* Equilizer */
    &__link_beat:before, 
    &__link_beat:after,
    &__link_beat div {
        content: '';
        height: 6px;
        background-color: rgb(255, 155, 40);
        position: absolute;
        right: 60%;
        width: 0;
    }
    &__link_beat:before {
        top: 10px;
    }
    &__link_scale:nth-of-type(1) {
        top: 20px;
    }
    &__link_scale:nth-of-type(2) {
        top: 30px;
    }
    &__link_scale:nth-of-type(3) {
        top: 40px;
    }
    &__link_beat:after {
        top: 50px;
    }
    &__link_beat:hover:before {
        animation: bar1 0.8s infinite;
    }
    &__link_beat:hover>&__link_scale:nth-of-type(1) {
        animation: bar2 0.8s infinite;
    }
    &__link_beat:hover>&__link_scale:nth-of-type(2) {
        animation: bar3 0.8s infinite;
    }
    &__link_beat:hover>&__link_scale:nth-of-type(3) {
        animation: bar1 0.8s infinite;
    }
    &__link_beat:hover:after {
        animation: bar4 0.8s infinite;
    }

    &__drop-menu {
        position: absolute;
        top: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
    }
}

@keyframes bar1 {
    0% {
        width: 10px;
    }
    5% {
        width: 5px;
    }
    16% {
        width: 25px;
    }
    32% {
        width: 18px;
    }
    50% {
        width: 28px;
    }
    66% {
        width: 50px;
    }
    73% {
        width: 45px;
    }
    100% {
        width: 10px;
    }
}

@keyframes bar2 {
    0% {
        width: 50px;
    }
    5% {
        width: 15px;
    }
    16% {
        width: 55px;
    }
    32% {
        width: 18px;
    }
    50% {
        width: 38px;
    }
    66% {
        width: 50px;
    }
    73% {
        width: 14px;
    }
    100% {
        width: 50px;
    }
}

@keyframes bar3 {
    0% {
        width: 0;
    }
    5% {
        width: 35px;
    }
    16% {
        width: 15px;
    }
    32% {
        width: 25px;
    }
    50% {
        width: 5px;
    }
    66% {
        width: 20px;
    }
    73% {
        width: 10px;
    }
    100% {
        width: 30px;
    }
}

@keyframes bar4 {
    0% {
        width: 10px;
    }
    5% {
        width: 5px;
    }
    16% {
        width: 15px;
    }
    32% {
        width: 25px;
    }
    50% {
        width: 20px;
    }
    66% {
        width: 30px;
    }
    73% {
        width: 20px;
    }
    100% {
        width: 10px;
    }
}