.burger-nav {
  display: block;
  height: 30px;
  width: 100%;
  background: url('../images/hamburger-btn.png') no-repeat 98% center;
  background-size: contain;
  background-color: #eee;
  cursor: pointer;

  @mixin atSmall {
    display: none;
  }
}