.floating-player-col {
    display: flex;
    position: fixed;
    top: 30%;
    left: 6%;
    height: 400px;
    width: 400px;
    display: inline-block;
    border-radius: 15px;
    background: url('https://cdn-images-1.medium.com/max/2000/1*cGCU2iqsJ2IjzkKsvef4NQ.jpeg');
    background-size: cover;
    background-position: center;
}

.floating-player-wrapper {
    display: inline-block;
    margin: 0 auto;
    position: absolute;
    top: 68%;
    width: 100%;
    background-color:rgba(238, 238, 238, 0.678);
    border-radius:  0 0 15px 15px;
    z-index: 2;
    box-shadow: 2px 2px 2px #dadada;
}

.player-heading {
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    z-index: 3;
    @mixin atLarge {
        font-size: 3.5rem;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-weight: 300;
    }
}

.floating-player{
    padding: 10px;
    color:#333;
    position: relative;
    &__song-title {
        margin-right: 0;
        text-align: center;
        font-size: 18px;
       
    }
}

.floating-player-controls {
    height: 50px;
    width: 100%;
    margin-top: 25px;

    &__btn {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 55px;
        height: 55px;
        border: 0;
        background-color:#EB7F00;
        border-radius: 50%;
        outline: none;
        cursor: pointer;
        box-shadow: 2px 2px 10px #dadada;
      
    }

    &__btn_centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    &__btn_pre {
        width: 33px;
        height: 33px;
        left: 30%;
    }

    &__btn_next {
        width: 35px;
        height: 35px;
        left: 70%;
    }
}

.seek-bar {
    max-width: 90%;
    height: 5px;
    background-color:gray;
    display: flex;
    border-radius: 50px;
    margin: 0 auto;

    &__fill{
        background-color: #EB7F00;
        border-radius: 50%;
    }

    &__handle{
        width: 16px;
        height: 16px;
        background-color:#EB7F00;
        border-radius: 50%;
        margin-left: -5px;
        margin-top: -5px;
    }
}
   

