.section-library {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-evenly;
    z-index: 0;

    @mixin atSmall {
        display: flex;
    }
}

.library {
    flex-basis: 45%;

    @mixin atMedium {
        flex-basis: 65%;
    }
    padding: 20px 0 50px 0;
}

.library-row {
    display: flex;
    justify-content: space-around;
}

.album-container {
    flex-basis: 40%;
    padding: 30px 0;
    &__image {
        max-width: 300px;
    }
}

.list-container_flex {
    flex-basis: 50%;
}