.section-library {
    position: relative;
    box-sizing: border-box;
    justify-content: space-evenly;

    @mixin atMedium {
        display: flex;
    }
}

.library {
    position: relative;
    flex-basis: 45%;
    padding: 20px 0 50px 0;
}

.library-row {
    display: flex;
    justify-content: space-around;
}

.album-container {
    flex-basis: 40%;
    padding: 30px 0;
    &__image {
        max-width: 300px;
    }
}

.list-container_flex {
    flex-basis: 50%;
}

.pageChange {
    width: 50%;
    margin: 20px auto 0 auto;
    display: flex;

    &__btn {
        flex: 1;
        border-radius: 5px;
        padding: 5px 10px;
        border: 1px solid #eee;
    }

    &__btn:hover {
        background: #EB7F00;
        border: 1px solid #EB7F00;
    }
}