
.section-plans {
    background-color: #f4f4f4;
    padding-bottom: 75px;
}

.plan-container {
    display: block;

    @mixin atMedium {
        display: flex;
        justify-content: space-evenly;
    }
  
}

.plan-box {
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    box-shadow: 2px 2px 5px #dadada, -2px 2px 5px #dadada;
    transition: all .5s;

    @mixin atSmall {
        width: 60%;
        margin: 20px auto;
    }

    @mixin atMedium {
        flex-basis: 30%;
        text-align: left;
        margin: 0;
    }

    &_active {
        margin-top: -10px;
        box-shadow: 3px 3px 25px #dadada, -3px 3px 25px #dadada;
    }
}


.box {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
    text-align: left;
    &__heading {
        font-weight: 300;
        font-size: 2rem;
        text-transform: uppercase;
        margin: 0;
    }
    
    &:first-child {
        background-color: #fcfcfc;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    &:last-child {
        text-align: center;
        border: 0;
    }

    &__plan-price {
        font-size: 3rem;
        margin-bottom: 10px;
        margin: 0;
        font-weight: 100;
        color: #EB7F00;

        @mixin atSmall {
            font-size: 4rem;
        }

        @mixin atMedium {
            font-size: 4rem;
        }
    }

    &__plan-price_small {
        font-size: 1.4rem;
        font-weight: 300;
    }

    &__price-meal {
        font-size: 1.2rem;
    }
}

.advantage-list {
    list-style: none;
    padding: 0;

    &__elem {
        padding: 5px 0;
        font-size: 1.2rem;
        font-weight: 300;

        @mixin atSmall {
            font-size: 1.4rem;
        }
    }

    &__elem_check {
        color: #EB7F00;
        font-size: 1.4rem;
        padding-right: 20px;
    }
}
