.section-steps {
    background: url('../images/steps-bg.svg'), linear-gradient(0.25turn, rgb(231, 130, 136), rgb(243, 198, 103));
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}


.app-screen {
    max-width: 150px;
    border-radius: 25px;
    box-shadow: 1px 1px 10px rgb(196, 196, 196), -1px -1px 10px rgb(196, 196, 196);
    transition: all .5s;
    @mixin atMedium {
        max-width: 200px;
        border-radius: 35px;
    }

    @mixin atLarge {
        max-width: 300px;
    }

    &_active {

        @mixin atMedium {
            margin-top: -10px;
            box-shadow: 5px 5px 15px rgb(240, 240, 240), -5px -5px 15px rgb(240, 240, 240);
        }
        
    }
}

.works-step {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;

    @mixin atSmall {
        margin-bottom: 15px;
    }

    @mixin atMedium {
        margin-bottom: 35px;
    }

    @mixin atLarge {
        margin-bottom: 50px;
    }


    &__step-num {
        align-self: center;
        flex-basis: 8.5%;
        color: white;
        font-size: 1rem;
        height: 30px;
        width: 30px;
        border: 2px solid white;
        border-radius: 50%;
        padding: 5px 3px 3px 3px;
        margin: 20px 0 0 10px;

        @mixin atSmall {
            font-size: 1.2rem;
            height: 35px;
            width: 35px;
            padding: 5px 0px 5px 0px;
            margin: 0;
        }

        @mixin atMedium {
            font-size: 1.4rem;
            height: 40px;
            width: 40px;
            padding: 5px 5px 5px 5px;
        }

        @mixin atLarge {
            font-size: 1.5rem;
            height: 50px;
            width: 50px;
            padding: 12px 5px 5px 5px;
            margin: 0;
        }
    }

    &__description {
        flex-basis: 85%;
        margin-top: 20px;
        text-align: left;

    }
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 40px;
    width: auto;
    margin-right: 10px;
    
    @mixin atMedium {
        height: 50px;
    }

}
