.section-player {
    display: block;
    position: relative;
    padding-top: 0px;
    padding-bottom: 75px;
}

.player-col {
    flex-basis: 40%;
    position: relative;
    height: 600px;
    width: 100%;
    border-radius: 0;
    background-image: url('../images/player-bg.jpg');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;

}

.list-col {
    display: flex;
    justify-content: flex-start;
    flex-basis: 30%;
    padding-left: 20px;
}

.track-list {
    flex-basis: 15%;
    padding-left: 15px;
    margin-left: 5px;

    &_rating {
        list-style: none;
    }

    &__track {
        cursor: pointer;
        padding: 5px 0;
    }

    &__track_disabled {
        cursor: default;
        display: none;

        @mixin atLarge {
            display: block;
        }
    }

    &__description {
        line-height: 165%;
        word-spacing: 1px;
    }

    &_more-margin-left {
        margin-left: 15px;
    }
}

.comment-box {
    display: flex;
    justify-content: space-around;
    margin: 10px 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid rgba(85, 85, 85, 0.22);

   
    &__comment {
        flex-basis: 70%;
        position: relative;
    }

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 200px;
        overflow-y: auto;
    }

}

.comment-profile {
    flex-basis: 10%;

    &__name {
        font-weight: 400;
    }

    &__info {
        font-size: .9rem;
    }

    &__image {
       
        border-radius: 50px;
        max-width: 100px;
        max-height: 100px;
    }

}

.star_active {
    color: orange;
}

.block-heading {
    font-size: 2rem;
    padding-left: 20px;
}

