
.section-plans {
    background-color: #f4f4f4;
    padding-bottom: 75px;
}

.plan-container {
    display: block;

    @mixin atMedium {
        display: flex;
        justify-content: space-evenly;
    }
  
}

.plan-box {
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 2px 2px #dadada;

    margin-bottom: 10px;

    @mixin atSmall {
        width: 70%;
        margin: 10px auto;
    }

    @mixin atMedium {
        flex-basis: 28%;
        text-align: left;
    }
    &:last-child {
        margin-bottom: 0;
    }
}


.box {

    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
    &__heading {
        font-weight: 300;
        font-size: 2rem;
        text-transform: uppercase;
        margin: 0;
    }
    
    &:first-child {
        background-color: #fcfcfc;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    &:last-child {
        text-align: center;
        border: 0;
    }

    &__plan-price {
        font-size: 5rem;
        margin-bottom: 10px;
        margin: 0;
        font-weight: 100;
        color: #EB7F00;
    }

    &__plan-price_small {
        font-size: 1.4rem;
        font-weight: 300;
    }

    &__price-meal {
        font-size: 1.2rem;
    }
}

.advantage-list {
    list-style: none;
    padding: 0;

    &__elem {
        padding: 5px 0;
        font-size: 1.4rem;
        font-weight: 300;
    }

    &__elem_check {
        color: #EB7F00;
        font-size: 1.4rem;
        padding-right: 20px;
    }
}

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 12px 40px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: all .4s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}


